go 1.24.3

use (
	./common
	./common/featuredetector
	./common/queryselector
	./core
	./distributions/enterprise
	./distributions/minimal
	./distributions/production
	./distributions/standard
	./distributions/streamlined
	./distributions/working
	./exporters/nri
	./extensions/healthcheck
	./processors/adaptivesampler
	./processors/circuitbreaker
	./processors/costcontrol
	./processors/nrerrormonitor
	./processors/planattributeextractor
	./processors/querycorrelator
	./processors/verification
	./tests
	./tests/e2e
	./tests/integration
	./tests/test-collector
)
